<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title>{% block title %}Library App{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  <header>
    <h1>Library App</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>