
{% block content %}

<h2>Edit Book</h2>

<form method="POST">

  <div class="form-group">
    <label>Name:</label>
    <input name="name" value="{{ book.name }}" class="form-control">
  </div>

  <div class="form-group">
    <label>Author:</label>    
    <input name="author" value="{{ book.author }}" class="form-control">
  </div>

  <div class="form-group">
    <label>Price:</label>
    <input name="price" value="{{ book.price }}" class="form-control"> 
  </div>

  <button type="submit" class="btn btn-primary">Update Book</button>
  
</form>

{% endblock %}