<!-- index.html -->


{% block content %}
<h1>Library</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Author</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

  {% for book in books %}
  <tr>
    <td>{{book.id}}</td>
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
    <td>{{book.price}}</td>
    <td>
      <a href="/edit/{{book.id}}">Edit</a>
      <a href="/delete/{{book.id}}">Delete</a>
    </td>
  </tr>
  {% endfor %}

</table>

<a href="/add" class="button">Add Book</a>

{% endblock %}